@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Blog";
}


<div class="container">

    <div class="row">
        @*//<h2>@ViewBag["Message"]</h2>*@
          <h2> Blogs </h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Content</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody id="bodyContent">
            </tbody>
        </table>
    </div>
</div>
<script>
     const main = async () => {
        var url = 'https://localhost:44301/api/blog';
        var reponse = await fetch(url);
        var data= await reponse.json();
        renderSlide(data);
    }
     const renderSlide = (data) => {
        var domSlide = document.querySelector("#bodyContent")
        var html = '';
        data.forEach((element,index) => {
            html+=`
            <tr>
              <th scope="row">${element.id}</th>
              <td>${element.name}</td>
              <td>${element.content}</td>
              <td>${element.author}</td>
              
            </tr>
            `;
        });

        console.log(domSlide);
        domSlide.innerHTML=html;
    }
    main()
</script>